<h1>New Application</h1>

<%= form_with url: "/applications", method: :post, local: true do |f| %>
  <p><%= f.label :Name %>
  <%= f.text_field :applicant_name %></p>

  <p><%= f.label :Address %>
  <%= f.text_field :street_address %></p>

  <p><%= f.label :City %>
  <%= f.text_field :city %></p>

  <p><%= f.label :State %>
  <%= f.text_field :state %></p>

  <p><%= f.label :Zipcode %>
  <%= f.text_field :zip_code %></p>

  <%= f.submit 'Submit' %>
<% end %>
