<%= render 'layouts/application_info' %>

<br>

<% unless @application.status == "Pending" %>
  <%= render 'searching_pets' %>
<% end %>

<% if !@pet_search.nil? then %>
    <%= render 'search_result' %>
<% end %>

<% if @pets.length > 0 %>
  <%= render 'description' %>
<% end %>

<h2>Application Status: <%=@application.status%></h2>
