<h1>Application for <%=@application.applicant_name%> </h1>
<p>Name: <%=@application.applicant_name%></p>
<p>Full address: <span> <%=@application.street_address%>, <%=@application.city%>,
  <%=@application.state%>, <%=@application.zip_code%> </span></p>
<p>Description: <%=@application.description%></p>

<section id="pets"
<p>Pets being applied for:</p>
  <%@pets.each do |pet|%>
    <p><%= link_to "#{pet.name}", "pets/#{pet.id}" %></p>
  <% end %>
</section>

<br>

<% unless @application.status == "Pending" %>
  <%= render 'searching_pets' %>
<% end %>

<% if !@pet_search.nil? then %>
    <%= render 'search_result' %>
<% end %>

<% if @pets.length > 0 %>
  <%= render 'description' %>
<% end %>


<h2>Application Status: <%=@application.status%></h2>
