<h1>Application for <%=@application.applicant_name%> </h1>
<p>Name: <%=@application.applicant_name%></p>
<p>Full address: <span> <%=@application.street_address%>, <%=@application.city%>,
  <%=@application.state%>, <%=@application.zip_code%> </span></p>
<p>Description: <%=@application.description%></p>

<h2>Application Status: <%=@application.status%></h2>

<p>Pets being applied for:</p>
  <%@application.pets.each do |pet|%>
    <p><%= link_to "#{pet.name}", "pets/#{pet.id}" %></p>
  <% end %>

<br>

<% unless @application.status == "Pending" %>
  <%= render 'searching_pets' %>
<% end %>

<% if !@pet_search.nil? then %>
    <%= render 'search_result' %>
<% end %>

<section id="submit_app-<%=@application.id%>">
  <% if @pets.length > 0 %>
    <%= form_with url: "applications/#{@application.id}", method: :patch, local: true do |f| %>
      <%= f.label 'Why I would be a good owner:' %>
      <%= f.text_field :description %><br>
      <%= f.hidden_field :status, value: "Pending" %>
      <%= f.submit 'Submit your application' %>
    <% end %>
  <% end %>
</section>
