<section id='pet-<%= @pet.id %>'>
<h1>Name: <%= @pet.name %></h1>
<h3>Age: <%= @pet.age %> years old</h3>
<h3>Breed: <%= @pet.breed %></h3>
<h3>Up for adoption? <%= @pet.adoptable %></h3>
<h3>Located at: <%= @pet.shelter_name %></h3>
</section>

<p><%= link_to "Update #{@pet.name}", "pets/#{@pet.id}/edit" %></p>
<p><%= link_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete %></p>
