<section id='application_info'>
<%= render 'layouts/application_info' %>
</section>

<section id='decision-<%= @application.id %>'>
<% if @application.status == "Pending" %>
  <% @application.pet_applications.each do |pet_application| %>
    <% unless pet_application.application_status == "Approved" || pet_application.application_status == "Rejected" %>
      <%= button_to "Approve application for #{pet_application.pet.name}", "/admin/applications/#{pet_application.id}", method: :patch, params: {application_status: "Approved"} %><br>
      <%= button_to "Reject application for #{pet_application.pet.name}", "/admin/applications/#{pet_application.id}", method: :patch, params: {application_status: "Rejected"} %>
    <% end %>
      <p><%= "#{pet_application.pet.name}: #{pet_application.application_status}" %></p>
  <% end %>
  <% @application.change_status %>
<% end %>
</section>
<br>

<section id='application_status'>
<h2>Application Status: <%=@application.status%></h2>
</section>
